@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css";

h2 {
    color: #00f
}

.collapsible .content {
    overflow: hidden;
}

.collapsible.collapsed .content {
    height: 1.3em;
}

